h1 {
	color: red;
	font-size: 60px
}

.funky-text {
	color: purple;
}

.get-away-from-me {
	margin-top: 200rem;
}

.danger-text {
	color: red !important;
}

.royal-text{
	  color: purple;
	  font-size:25px
	  
}